@model Enfermo

<h1>Detalles del enfermo</h1>
<ul class="list-group">
    <li class="list-group-item text-dark">@Model.Apellido</li>
    <li class="list-group-item text-dark">@Model.Direccion</li>
    <li class="list-group-item text-dark">@Model.Sexo</li>
</ul>